
.dropdown {
    position: relative;
  }

  .dropdown-content {
    color: black;
    display: none;
    position: absolute;
   background-color: #4e89a9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .header-title{
    font-size: 1.8em;
    font-weight: 200;
    margin-right: 10px;
    text-decoration: none
  }

button {
  background: #4e89a9;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 500;
  font-size: 15px;
  border: 3px solid black;
  border-radius: 0.4em;
}

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.button-font{
  color:black;
  text-decoration: none
}

.page-header{
  text-decoration: underline;
  font-weight: 300;
}

.hundred-chars{
  width: 100ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}