{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Auctions{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    <style>
        .main-content {
            margin-left: 20px;
            margin-top: 15px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #4e89a9;">

        <a href="{% url 'index' %}" class="header-title" style="text-decoration: none; color: black;">ETrade</a>
        <div class="navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" onclick="return false;">Categories</a>
                    <div class="dropdown-content">
                        <a class="dropdown-item" href="#" style="color: black;">Dropdown Item 1</a>
                        <a class="dropdown-item" href="#" style="color: black;">Dropdown Item 2</a>
                        <a class="dropdown-item" href="#" style="color: black;">Dropdown Item 3</a>
                    </div>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create' %}">Create Listing <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out <span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register<span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
            </ul>
        </div>

    </nav>

    <div class="main-content" >

        {% block body %}
        {% endblock %}
    </div>

</body>
</html>
