{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="page-header">{{ listing.header }}</h2>
    <div class="row">
    <img src="{{listing.image_url}}" class="card-img-top" alt="Picture of {{ listing.header }}" style="max-width: 400px; max-height: 400px;">
    <h5 style="margin-left: 10px;">
        <div style="font-weight: 350">
            Seller: {{ listing.seller }}<br><br>
        Category: {{ listing.category }}<br><br>
    Current Price/ bid: ${{ listing.starting_price }}<br><br>
            {% if user.is_authenticated %}
                <form action="{%  url 'listing' id=listing.id %}" method="post">
                {% csrf_token %}
                {% if inwatchlist %}
                    <button name="action" value="remove" type="submit" class="btn btn-outline-danger">Remove from watchlist</button>
                {% else %}
                    <button name="action" value="add" type="submit" class="btn btn-outline-warning">Add to watchlist</button>
                {% endif %}
                </form>
            {% endif %}
        </div>
    </h5>
    </div>

    <h5 style="margin-top: 10px;">Description: </h5><p>{{ listing.description }} </p>

{% endblock %}